.nucleo {
    /* Seja bem-vinde à sua biblioteca online */

    position: absolute;
    width: 400px;
    height: 50px;
    left: 222px;
    top: 107px;
    font-family: 'ADLaM Display';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 84px;
    text-align: center;

    color: #066699;


}


.menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(78, 215, 224, 0.4);
}

.botao {
    position: relative;
    width: 159px;
    height: 54px;
    background: #066699;
    border-radius: 50px;
}