.mensagem {
    /* Seja bem-vinde à sua biblioteca online */
    position: absolute;
    height: 159px;
    left: 222px;
    top: 247px;
    font-family: 'ADLaM Display';
    font-style: normal;
    line-height: 84px;
    text-align: center;



