.menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(78, 215, 224, 0.4);
}

.botao {
    position: relative;
    width: 159px;
    height: 54px;
    background: #066699;
    border-radius: 50px;
}