.container {
    display: flex; /* Usar flexbox para dividir o espaço */
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}


.nucleo {
    width: 80%; /* Define a largura da nucleo como 80% */
    padding: 20px; /* Adiciona padding */
    box-sizing: border-box; /* Inclui o padding na largura total */
    height: 100vh;
    position: relative;
    width: 747px;
    height: 100vh;
    left: 14%;
    top: 5%;

}

.nucleo h2 {
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
}


.listaprodutos {
    display: flex;               /* Usar flexbox para alinhar as caixinhas */
    flex-wrap: wrap;            /* Permite que as caixinhas se movam para a próxima linha quando não houver espaço */
    gap: 10px;                  /* Espaçamento entre as caixinhas */
    justify-content: center; /* Alinha as caixinhas à esquerda */

}

.caixinha {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;              /* Adiciona padding */
    width: calc(30% - 10px);   /* Define uma largura para as caixinhas, subtraindo o gap */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-sizing: border-box;     /* Inclui padding e border na largura total */
}


/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda para coluna em telas menores */
    }
    .menu {
        width: 100%; /* O menu ocupa toda a largura em telas menores */
        padding: 10px; /* Ajusta o padding */
    }
    .nucleo {
        width: 100%; /* A nucleo também ocupa toda a largura em telas menores */
    }
    .caixinha {
        width: calc(100% - 10px); /* Ocupa 100% da largura em telas pequenas */
    }
}


.caixinha h3 {
    margin-top: 0;
    color: #333;
}

.caixinha p {
    margin: 5px 0;
}

.caixinha .acoes {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.caixinha button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.caixinha button:hover {
    background-color: #ff1a1a;
}

.caixinha a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 2px 4px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.caixinha a:hover {
    background-color: #4CAF30;
}