.containerlistavendas {
    display: flex; /* Usar flexbox para dividir o espaço */
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}
