.containervendas {
    display: flex; /* Usar flexbox para dividir o espaço */
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}



.containervendas h2 {
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 40px;
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 10px;
}


.containervendas h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'ADLaM Display';
    color: #f9f9f9;
}


.formulario {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    border-radius: 8px;
    padding: 20px;
    width: 560px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 1%;
    top: 5%;
}

.formulario div {
    margin-bottom: 15px;
}

/* Estilo para os rótulos */
.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    color: #f9f9f9;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilo para mensagens de erro */
span {
    color: red;
    font-size: 14px;
}




.remover {
    width: 100%;
    padding: 8px 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.adicionar{
    width: 100%;
    padding: 8px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.salvar{
    width: 100%;
    padding: 10px 15px;
    background-color: #066699;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.formulario button:hover {
    opacity: 80%;
}

