.containerlistavendas {
    display: flex; /* Usar flexbox para dividir o espaço */
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */

}

.containerlistavendas h2 {
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 25px;
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 2%;
}

.site {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    width: 1020px;
    position: relative;
    left: 150px;

}

.busca{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 1%;
    top: 5%;
}


input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.busca label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.botoeslistavenda{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row; /* Coloca os botões em coluna */
    justify-content: center; /* Centraliza verticalmente */
       /* Centraliza horizontalmente */
    gap: 10px;
    margin-top: 20px;
}

.buscar{

    padding: 8px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.limpar{

    padding: 8px 10px;
    background-color:  #066699;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.busca button:hover {
    opacity: 80%;
}

.listavendas {

    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 1%;
    top: 5%;
    justify-content: center;
    flex-direction: column;
}

.lista{
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
}

.venda {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.vendaid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.vendaid h3 {
    margin: 0;
}

.vendadata {
    font-size: 0.9em;
    color: #777;
}

.cartao {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.borda {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excluir {
    background-color: #f44336;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.excluir:hover {
    background-color: #d32f2f;
}
