.containerEditar {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}



.editor {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 460px;
    position: relative;
    right: 1%;
    top: 5%;
}

.editor h2 {
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 40px;
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 20px;
}

.editor label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f9f9f9;
}


.editor input[type="text"],
.editor input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.editor button {
    width: 100%;
    padding: 10px 15px;
    background-color: #066699;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.editor button:hover {
    background-color: #054a7a;
}