

.fixo{
    display: flex;
    flex-direction: column;
}

.titulo {
    padding: 30px;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: 50px;
    background: #FFFFFF;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 90px;

    color: #066699;


}

/*.funcionalidades {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(78, 215, 224, 0.4);
}

.botao {
    position: relative;
    width: 159px;
    height: 54px;
    background: #066699;
    border-radius: 50px;

}*/
botao.hover {
    opacity: 1;
}