

.fixo{
    display: flex;
    flex-direction: column;
}

.titulo {
    padding: 30px;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: 50px;
    background: #FFFFFF;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 55px;

    color: #066699;
}

botao.hover {
    opacity: 1;
}